  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">About the project</h5>
        <p class="card-text">This app is for make and save your memos</p>
        <a href="/" class="btn btn-primary">Go to the home</a>
      </div>
    </div>
