<div class="card">
  <h5 class="card-header">Notes</h5>
  <div class="card-body">
    <h5 class="card-title">Save your memories, for ever!</h5>
    <p class="card-text">Make memos, notes, edit, delete, change, make your noteSpace.</p>
    <a href="/users/signup" class="btn btn-primary">Register!</a>
  </div>
</div>
